.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  height: 2em;
}

.btn-success {
  background-color: #4b2b6e;
  border: #4b2b6e;
}

.btn-success:disabled {
  background-color: #4b2b6e54;
  border: #4b2b6e;
}


@media (max-width: 768px) {
  .btn {
    width: 100%;
  }
  .navbar-brand {
    margin-right: 0;
  }

  h2 {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 740px;
  }
}
